[Unit]
Description=CASPAR Container
Wants=NetworkManager.service network-online.target docker.service
After=NetworkManager.service network-online.target docker.service
Requires=docker.service

[Install]
WantedBy=multi-user.target

[Service]
Environment="CASPAR_IMAGE=caspar"
Environment="CASPAR_LOCAL_MOUNT=/opt/caspar/conf:/conf:z"

TimeoutStartSec=0

#ExecStartPre=/usr/bin/docker pull $CASPAR_IMAGE

ExecStart=/usr/bin/docker run \
  -v "$CASPAR_LOCAL_MOUNT" \
  --network host \
  --name caspar \
  --rm $CASPAR_IMAGE \
  python /src/app.py

Restart=on-abnormal
